/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

* {
  margin: 0;
  padding: 0;
}

.overview-section-s1 {
  display: flex;
  justify-content: flex-start;
  background-color: #f9f6f5;
  padding: 6em;
}

.h1-overview {
  font-size: 2em;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding-bottom: 1em;
  font-weight: 400;
  width: 90%;
}

.overview-section-p {
  margin-left: 8em;
  letter-spacing: 0.05em;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1em;
  text-align: left;
  width: 40%;
}
