/* overview.css */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

.overview-section-s1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding: 2em;
}

.h1-overview {
  font-size: 2em;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding-bottom: 1em;
  font-weight: 400;
}

.hr {
  border-top: 1px solid #8a39e1;
  margin-bottom: 2em;
}

.overview-section-p {
  margin: 10px;
  letter-spacing: 0.08em;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1em;
  text-align: left;
  width: 100%;
  margin-bottom: 70px;
}


/* Responsive Styles for Tablets */
@media (max-width: 768px) {
  .overview-section-s1 {
    padding: 1em;
  }

  .h1-overview {
    font-size: 1.5em;
  }

  .overview-section-p {
    margin-left: 0;
    width: 100%;
  }
}

/* Responsive Styles for Phones */
@media (max-width: 576px) {
  .h1-overview {
    font-size: 1.2em;
  }
}
