/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

.section1-resources {
  background-color: rgb(220, 230, 226);
  display: flex;
  justify-content: space-evenly;
  padding: 8em;
  margin-bottom: 0px;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

.footer-overview {
  background-color: #8a39e1;
  height: 245px;
}

.section1-resources-sources {
  background-color: gainsboro;
}

.section1-resources-titles {
  font-size: 1.5em;
}
