/* App.css */

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.link-style {
  margin: 1em 3em; /* Adjusted margin for larger screens */
  font-size: 1.2em; /* Increased font size for larger screens */
  text-decoration: none;
  color: white;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}

.suggest-resource {
  border-radius: 5px;
  background: linear-gradient(90deg, #abc4f7, #778ebc);
  color: #fff;
}

.navigation-bar-links {
  display: flex;
  align-items: center;
}

.div-blockroot {
  font-size: 2em; /* Increased font size for larger screens */
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}

/* Update background color and increase margin */
.navigation-bar {
  background-color: #8a39e1;
  padding: 30px; /* Increase padding for more height */
  margin-bottom: 30px; /* Add margin at the bottom */
}

.link-style {
  margin: 1em 3em; /* Adjusted margin for larger screens */
  font-size: 1.2em; /* Increased font size for larger screens */
  text-decoration: none;
  color: white;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  transition: color 0.3s; /* Added transition effect for color change */
}

.link-style:hover {
  color: #aaaaaa; /* Change text color on hover */
}

/* Responsive Styles for Tablets */
@media (max-width: 768px) {
  .link-style {
    margin: 0.5em 0.5em;
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .div-blockroot {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

/* Responsive Styles for Phones */
@media (max-width: 576px) {
  .link-style {
    margin: 0.5em 0.5em;
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .div-blockroot {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }

  .navigation-bar {
    padding: 20px; /* Adjust padding for phones */
  }
}
