/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya__subset', 'Alegreya', sans-serif !important;
}

.App {
  text-align: center;
}

.link-style {
  margin: 1em 3em;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}


.suggest-resource {
  border-radius: 5px;
  background: linear-gradient(90deg, #abc4f7, #778ebc);
  color: #fff;
}

.navigation-bar-links {
  display: flex;
  align-items: center;
}

.div-blockroot {
  font-size: 2em;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
    color:#21253b;
}

.navigation-bar {
  background-color: #8a39e1;
  padding: 30px;
  margin-bottom: 30px;
}

.link-style {
  margin: 1em 3em;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  transition: color 0.3s;
}

.link-style:hover {
  color: #aaaaaa;
}

.ethereum-resources {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .link-style {
    margin: 0.5em 0.5em;
    font-size: 1em;
  }

  .div-blockroot {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .link-style {
    margin: 0.5em 0.5em;
    font-size: 1em;
  }

  .div-blockroot {
    font-size: 1.2em;
  }

  .navigation-bar {
    padding: 20px;
  }
}
