.App {
  text-align: center;
}

.link-style {
  margin: 0.4em 2em;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}

.suggest-resource {
  border-radius: 5px;
  background: linear-gradient(90deg, #abc4f7, #778ebc);
  color: #fff;
}

.navigation-bar-links {
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  margin-left: 3em;
}

.div-blockroot {
  font-size: 2em;
  font-family: SFMono-Regular, Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}
